.sport_list {
	margin: 10px auto;
	padding: 20px;
	border: 1px solid #eeeeee;
	box-shadow: 2px 2px 2px #ccc;
	display: flex;
	flex-direction: row;
	justify-content: initial;
	align-items: center;
}

.center-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
